*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    background-color: rgb(128, 23, 226);
}

.calculadora{
    display: flex;
    flex-direction:column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 550px;
    width: 450px;
    border-radius: 25px;
    border: 5px solid rgb(156, 86, 21);
    padding: 20px;
    background-image: linear-gradient(to bottom, #e0d534, #e0d534);
}



.calculadora .pantalla{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(38, 117, 221);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    text-align: right;
    padding: 15px;
    box-sizing: border-box;
    font-size: 2.5em;
    text-align: right;
    justify-content: space-between;
    word-break: keep-all;
    box-shadow: 0px 0px 0px 5px rgba(202, 114, 32, 0.966);
}

.calculadora .pantalla div{
    background-color: rgba(128, 226, 128, 0);;
    margin: 0;
    font-size: inherit;
    height: fit-content;
    width: 100%;
    border: none;
    text-align: right;
}

.calculadora >.botones{
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    padding: 2px;
    display: flex;
    
}

.calculadora .botones .panel-numeros{
    width: 80%;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    padding-top: 5%;
}

.calculadora .botones .operaciones{
    height: 100%;
    width: 100px;
    display: inline-block;
    padding-top: 5%;
}

.calculadora .botones button{
    width: 80px;
    height: 35px;
    margin: 10px;
    cursor: pointer;
    transition: all ease 0.2s;
    background-color:rgb(255, 255, 255);
    font-size: 2em;
    font-family: monospace;
    box-shadow: 5px 5px 0px 1px #a0a0a0;
    border-radius: 32px;
}

.calculadora .botones button:active{
    border-radius: 10px;
    background-color: #000;
    color: #fafafa;
    font-size: 2.3em;
}

.calculadora.botones .operaciones button{
    display: block;
    
}


.calculadora .botones .panel-numeros .fila-1,.calculadora .botones .panel-numeros .fila-2, .calculadora .botones .panel-numeros .fila-3,
.calculadora .botones .panel-numeros .fila-4{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
}


.calculadora .botones .panel-numeros .fila-1 button,.calculadora .botones .panel-numeros .fila-2 button, .calculadora .botones .panel-numeros .fila-3 button,
.calculadora .botones .panel-numeros .fila-4 button{
   
    width: auto;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 80px;
    
}
